<% include partials/header.ejs %>

<div class="jumbotron">
  <div class="container">
  	<h1>Hello World!</h1>
  	<p>Call to action statement.</p>
  	<p><a href="/auth/signup" class="btn btn-primary btn-large">Sign Up</a></p>
  	<p><a href="/auth/login" class="btn btn-primary btn-large">Login</a></p>
  </div>
</div>
<% include partials/footer.ejs %>